@charset "UTF-8";
/* 共通部分
----------------------------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: "selino", "Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img[src="images/path_2.svg"],
img[src="images/path_1.svg"] {
    background-size: cover;
    width: 100%;
}
/* HEADER
----------------------------------------------*/
/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
.logo {
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    list-style: none;
    margin-top: 34px;
    text-transform: uppercase;
}
.main-nav li {
    margin-left: 70px;
}
.main-nav a {
    color: #432;
    position: relative;
}
.main-nav a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #432;
    bottom: -5px;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;  
    }
.main-nav a:hover::after {
    transform-origin: center top; 
    transform: scale(1, 1);
    }
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}


/* HOME
----------------------------------------------*/
.home-content {
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    letter-spacing: 5px;
}
.home-content span {
    font-family: 'Mincho', serif;
    letter-spacing: -5px;
}

/* 見出し */
.page-title {
    font-size: 5rem;
    font-weight: normal;
}

/* 大きな背景画像 */
 #home {
    background-image: url(images/main-bg.svg);
    min-height: 100vh;
    background-size: 45%;
    background-position-x: 20%;
    background-position-y: 60%;
    margin-bottom: 100px;
}
#home .page-title {
    text-transform: none;
}

/* トップページ花 */
img[src="images/orchid_1.svg"] {
    position: absolute;
    left: 87%;
    top: 85%;
}
    
/* Profile
----------------------------------------------*/
#profile {
    margin-bottom: 50px;
}
.section-title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.profile-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.profile-contents-1 h3,
.item h3 {
    letter-spacing: 3px;
    font-size: 30px;
}

/* プロフィール画像 */
.profile-contents img {
    width: 30%;
    margin: 0% 5%;
}

/*　プロフィール説明 */
.profile-contents-1 {
    width: 50%;
}
.profile-contents-1 h4 {
    margin-bottom: 30px;
}
.profile-contents-1 p {
    margin-bottom: 30px;
    font-family: "Yu Gothic Medium";
    font-weight: lighter;
}
/* ボタン */
.button {
    position: relative;
    left: 60%;
    color: #432;
    font-size: 1.25rem;
    letter-spacing: 3px;
    padding: 18px 32px;
}
.button::after {
    position: absolute;
    background: #432;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -5px;
    transform: scale(0, 1);
    transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;  /*変形の時間*/
}
.button:hover::after {
    transform-origin: left top; /*左から右に向かう*/
    transform: scale(1, 1);
}
/* 矢印 */
.arrow{
	position: relative;
	display: inline-block;
	padding: 0 0 0 16px;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
}
.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
    margin-top: 9px;
}
.arrow::before{
	left: 10px;
	width: 11px;
	height: 11px;
	border-top: 1px solid #432;
	border-right: 1px solid #432;
	transform: rotate(45deg);
}
/* Work
----------------------------------------------*/
#work {
    background: #000;
    color: #fff;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    margin-bottom: 50px;
}
#work .button {
    color: #FFF;
}
#work .button::after {
    background: #FFF;
}
#work .button {
    left: 73%;
}
#work .arrow-1::before{
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
    -webkit-transform: rotate(45deg);
    margin-top: -8px;
}
/* CONTACT
----------------------------------------------*/
/* フォーム */
form {
    width: fit-content;
    margin: 0 auto;
}
form p {
    text-align: center;
    margin-bottom: 30px;
}
#contact {
    position: center;
}
#contact span {
    color: rgb(204, 29, 29);
}
form div {
    margin-bottom: 14px;
    font-family: "Yu Gothic Medium";
}
label {
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    border: 1px #000 solid;
    padding: 8px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 480px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    cursor: pointer;
    line-height: 1;
}
/* 送信ボタン */
.button-submit {
    display: block;
    margin: auto;
    background: #000;
    color: #fff;
    padding: 18px 32px;
    margin-bottom: 45px;
    border: 1px solid #432;
}
.button-submit:hover {
    background: #fff;
    color: #432;
    border: 1px solid #432;
}

/* Skills
----------------------------------------------*/
#skills {
    background: #000;
    color: #FFF;
    height: 600px;
}
/* グラフ */
#my-chart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
#my-chart .bar {
    --color: #FFF
}

/* Hobbies */
.grid-hobby {
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-bottom: 50px;
    text-align: center;
}

#hobbies img {
    margin-bottom: 15px;
}

/* ワークの仮想ページ
----------------------------------------------*/
#work-specific .section-title {
    text-align: left;
    margin-bottom: 0;
}
#work-specific a {
    display: block;
    margin-bottom: 20px;
}
#work-specific img {
    width: 100%;
}
.work-text {
    display: block;
    margin-bottom: 60px;
}
.work-title {
    width: 30%;
}
.work-main {
    display: flex;
    margin-bottom: 50px;
}

/* フッター
----------------------------------------------*/
footer {
    background: #000;
    text-align: center;
    padding-bottom: 26px;
}
footer p {
    color: #fff;
    letter-spacing: 2px;
}


/* モバイル版
----------------------------------------------*/
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* HEADER */
    img[src="images/orchid_1.svg"],
    span {
        display: none;
    }   

/* ここから下がハンバーガーメニューに関するCSS */  
/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 70%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }
  .main-nav {
    display: block;
    font-size: 1.5rem;
    margin-top: 30%;
}

    /* HOME */
    .home-content {
        margin-top: 0%;
        margin-left: 10%;
    }
    #home {
        background-image: url(images/main-bg_sml.svg);
        background-size: 75%;
        background-position-x: 80%;
        background-position-y: 25%;
        margin-bottom: 15px;
    }
    .logo {
        margin-top: 0;
    }

    /* 見出し */
    .section-title {
        font-size: 2.4rem;
    }

    /* Profile */
    .profile-contents {
        display: block;
        text-align: center;
    }
    .profile-contents-1 {
        width: 100%;
    }
    .button {
        left: 0;
    }

    /* プロフィール画像 */
    .profile-contents img {
        width: 60%;
    }

    /* Work */
    .grid {
        grid-template-columns: 1fr;
    }
    #work .item img {
        width: 100%;
        margin: auto;
        display: block;
    }
    #work .button {
        display: block;
        text-align: center;
        left: 0;
        padding-bottom: 50px;
    }

    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }
    form {
        padding: 0 4%;
    }

    /* Skills */
    #skills {
        height: 90vh;
    }
    /* Hobbies */
    #hobbies {
        height: 140vh;
    }
    #hobbies .item img {
        height: 40%;
        width: auto;
    }
    .grid-hobby {
        gap: 5%;
    }
    
} /* モバイル版 END ------------------------------- */
